CHANNEL='notify'
REDIS_PASS='ev56hvev5'
REDIS_PORT=6379
REDIS_HOST='redis'

MAIL_SERVER='relay.mail.ru'
MAIL_PORT=25
MAIL_DEBUG=0
MAIL_USERNAME='noreply@mail.ru'
MAIL_PASSWORD='wbn45bhw451'

TELEGRAM_API_TOKEN='wpigm35[iognw[45oig[4w5injg2w45ji'
API_ID=24564563456
API_HASH='cp945hjcuio'
